<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add User Page</title>
</head>
<body>
    <h2>Add New User</h2>
    <form method="post" action="/user">
        <label>User Name</label>
        &nbsp;&nbsp;
        <input type="text" name="username" placeholder="Enter User Name">
        <br><br>
        <label>Email - ID</label>
        &nbsp;&nbsp;
        <input type="text" name="email" placeholder="Enter Email-ID">
        <br><br>
        <label>Password</label>
        &nbsp;&nbsp;
        <input type="password" name="password" placeholder="Enter Password">
        <br><br>
        <button>Add User</button>
    </form>
</body>
</html>